<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <rewriter>
    <!--Admin Starts-->
    <rewrite url="~/admin/city_master" to="~/admin/city_master.aspx" processing="stop" />
    <rewrite url="~/admin/state_master" to="~/admin/state_master.aspx" processing="stop" />
    <rewrite url="~/admin/area_master" to="~/admin/area_master.aspx" processing="stop" />
    <rewrite url="~/admin/vehicle_type" to="~/admin/vehicle_type.aspx" processing="stop" />
    <!--Admin Ends-->

    <!--User Starts-->
    <rewrite url="~/registration/(.+)" to="~/Registration.aspx?reg=$1" processing="stop" />
    <rewrite url="~/registration" to="~/Registration.aspx" processing="stop" />
  </rewriter>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="elts_lorry_Entities" connectionString="metadata=res://*/App_Code.elts_lorry_model.csdl|res://*/App_Code.elts_lorry_model.ssdl|res://*/App_Code.elts_lorry_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=elts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="elts_lorry_Entities" connectionString="metadata=res://*/App_Code.elts_lorry_model.csdl|res://*/App_Code.elts_lorry_model.ssdl|res://*/App_Code.elts_lorry_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=elts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>